.idea
vendor/
composer.phar
.DS_Store
.settings/
.project
.buildpath
app/config.yml
cache
/loggerconfig.php
/pluginconfig.php
src/PHPCI/Model/Migration.php
src/PHPCI/Model/Base/MigrationBase.php
src/PHPCI/Store/MigrationStore.php
src/PHPCI/Store/Base/MigrationStoreBase.php
local_vars.php
tests/PHPCI/config.yml
