/composer.phar

/vendor
/public/assets/vendor

/app/config.yml
/app/periodical.yml

/runtime/*.log

/runtime/builds
!/runtime/builds/.gitkeep

/runtime/cache
!/runtime/cache/.gitkeep

/runtime/status_cache
!/runtime/status_cache/.gitkeep

/public/artifacts
!/public/artifacts/.gitkeep

/public/.htaccess

/tests/runtime
!/tests/runtime/.gitkeep