language: php

sudo: false

cache:
    directories:
        - $HOME/.composer/cache

php:
    - 5.6
    - 7.0
    - 7.1
    - 7.2
    - 7.3

matrix:
    fast_finish: true

install:
    - composer selfupdate
    - composer install

before_script:
    - mysql -e "create database IF NOT EXISTS test_db;" -uroot
    - psql -c 'create database test_db;' -U postgres

script:
    - vendor/bin/phpunit --configuration phpunit.xml.dist --coverage-clover=coverage.xml

after_success:
    - bash <(curl -s https://codecov.io/bash)

notifications:
    email:
        recipients:
            - poisoncorpsee@gmail.com

        on_success: always
        on_failure: always
