<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    syntaxCheck="false"
    bootstrap="./tests/bootstrap.php"
>
    <php>
        <const name="MYSQL_USER" value="root" />
        <const name="MYSQL_PASSWORD" value="" />
        <const name="MYSQL_DBNAME" value="b8_test" />
        <const name="POSTGRESQL_USER" value="postgres" />
        <const name="POSTGRESQL_PASSWORD" value="" />
        <const name="POSTGRESQL_DBNAME" value="b8_test" />
    </php>
    <testsuites>
        <testsuite name="B8Framework Test Suite">
            <directory suffix="Test.php">./tests/B8Framework</directory>
        </testsuite>

        <testsuite name="PHP Censor Helper Test Suite">
            <directory suffix="Test.php">./tests/PHPCensor/Helper</directory>
        </testsuite>
        <testsuite name="PHP Censor Controller Test Suite">
            <directory suffix="Test.php">./tests/PHPCensor/Controller</directory>
        </testsuite>
        <testsuite name="PHP Censor Logging Test Suite">
            <directory suffix="Test.php">./tests/PHPCensor/Logging</directory>
        </testsuite>
        <testsuite name="PHP Censor Model Test Suite">
            <directory suffix="Test.php">./tests/PHPCensor/Model</directory>
        </testsuite>
        <testsuite name="PHP Censor Plugin Test Suite">
            <directory suffix="Test.php">./tests/PHPCensor/Plugin</directory>
        </testsuite>
        <testsuite name="PHP Censor Service Test Suite">
            <directory suffix="Test.php">./tests/PHPCensor/Service</directory>
        </testsuite>
        <testsuite name="PHP Censor Command Test Suite">
            <directory suffix="Test.php">./tests/PHPCensor/Command</directory>
        </testsuite>
        <testsuite name="PHP Censor ProcessControl Test Suite">
            <directory suffix="Test.php">./tests/PHPCensor/ProcessControl</directory>
        </testsuite>
        <testsuite name="PHP Censor Security Test Suite">
            <directory suffix="Test.php">./tests/PHPCensor/Security</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory suffix=".php">./src/PHPCensor/Migrations</directory>
                <directory suffix=".php">./src/PHPCensor/Languages</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
