<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    bootstrap="./tests/bootstrap.php"
>
    <testsuites>
        <testsuite name="PHP Common Test Suite">
            <directory suffix="Test.php">./tests/src</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory suffix=".php">./src/Migrations</directory>
                <directory suffix=".php">./src/Languages</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
